* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
}

.background-image {
    height: 100vh;
}

.sign-up-form {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.intro {
    padding-top: 20px;
    margin-left: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-controls {
    padding: 20px 0;
    margin-bottom: 40px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.form-row {
    margin-left: 50px;
    display: flex;
    gap: 65px
}

.input-container {
    width: 250px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input {
    height: 30px;
}

.button-container {
    margin-left: 50px;
}

.button-container button[type="submit"] {
    width: 200px;
    height: 50px;
}